
html,body, main { 
    height: 100%;
    background-color: rgb(56, 54, 54);
}

.parent {
height: 100%;
width:100%;
background: rgb(56, 54, 54);
display: flex;
align-items: center;
justify-content: center;

}
.child {

background-color: rgb(56, 54, 54);
width:30%;
height: 30%;
}

.title{
    
    text-align: center;
    
    margin-bottom: 40px;
    
    

}




/* search */
.wrapper {
   
    position: relative;
    display: flex;
    min-width: 100px;
}
.search-icon {
    
    position: relative;
    z-index:1;
    top: 3px;
    left: 27px;
    width: 20px;
   
}

.clear-icon {
    
    position: absolute;
    top: 19px;
    right: 10px;
    width: 20px;
    cursor: pointer;
    
    
}

.search {
    
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
    text-indent: 10px;
    
}


.search:hover, .search:focus {
    border: 1.5px solid #009688;
    background-color: white;
}


.hidden{
    display: none;
}
